
h1 {
  color: Red;
  margin-left: auto;
    margin-right: auto;
    width: 30em;
}

h4{
  color: white;
  margin-left: 10%;
}

.rotate90{
  transform: rotate(90deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px grey;
}

div {
  display: inline-block;
}

.list-img {
  float= right;
  right= 30px;
  border= 20px;
}

p {
  color: blue;
  font-family: 'Roboto', sans-serif;
  background-color: white;

}

body {
  background-image: url('https://github.com/keoniwong/keoniwong.github.io/blob/master/IMG_1278.JPG?raw=true') 
}
